{
    "extends": ["airbnb"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true,
            "jsx": true
        }
    },
    "settings": {
      "import/resolver": "webpack"
    },
    "env": {
        "browser": true
    }
}
